.nav_button {
	width: 120px;
	height: 60px;
	border-radius: 12px;
	background-color: white;

}

#side_img {

	padding-left: 0px;
	padding-right: 70%;
}


@media (max-width: 600px) {
  .sometimes-hidden-img {
    display: none;
  }
}

