.nav_button {
	width: 120px;
	height: 60px;
	border-radius: 12px;
	background-color: white;

}

.side {

	position: relative;
	left: 0px;

}


@media only screen and (max-width: 1000px) {
  .sometimes-hidden-img {
    display: none;
  }
}

